@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Jacques+Francois+Shadow&family=Londrina+Sketch&family=Nunito:wght@300;400;500;600;700&family=Orbitron:wght@400;500&family=Poppins:wght@400;500&family=Rubik+80s+Fade&family=Rubik+Distressed&family=Teko:wght@400;500;600;700&family=Zen+Dots&display=swap'); 
*{
    box-sizing:border-box;
}
body{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0;
    font-family:'Poppins', sans-serif;
    min-height:100vh;
}
.heart{
    position:fixed;
    top:-5vh;
    transform:translateY(0);
    animation:fall 5s linear;
}
@keyframes fall{
    to{
        transform:translateY(100vh);
    }
}